.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        padding: 20px 30px;
    }
    .footer {
        display: flex;
        justify-content: center;
        font-size: 12px;
        padding: 20px 30px;
    }
    .body{
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}