.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .content {
        display: flex;
        height: 100%;
        .code {
            flex: 30%;
            margin: 0 10px;
        }
        .output {
            flex: 60%;
        }
    }

}